<article id="<%= data.slug %>">
	<a class="internal project-link" href="#<%= data.slug %>">
		<div class="summary">
			<% if (typeof data.fragments['project.illustration'] != 'undefined') { %>
				<img class="preview" src="<%= data.fragments['project.illustration'].value.views.icon.url %>" />
			<% } %>

			<div class="title"><%= data.fragments['project.title'].value[0].text %></div>
			<div class="lede"><%= data.fragments['project.longlede'].value[0].text %></div>
			<div class="tags">
				<%= data.tags.splice(1, data.tags.length-1).join(", ") %>
			</div>
			<div class="more">SHOW MORE</div>
		</div>
	</a>
	<div class="details">
		<% if (typeof data.fragments['project.links'] != 'undefined') { %>
			<div class="pull-right">
				<% for (var i = 0; i < data.fragments['project.links'].value.length; i++) { %>
					<% var obj = data.fragments['project.links'].value[i] %>
					<a class="button" href="<%= obj.link.value.url %>">
						<img src="/images/link.svg" class="pull-right on-hover">
						<%= obj.name.value %>
					</a>
				<% } %>
			</div>
		<% } %>

		<h3 class="title"><%= data.fragments['project.title'].value[0].text %></h3>
		<p class="lede"><%= data.fragments['project.longlede'].value[0].text %></p>

		<% if (typeof data.fragments['project.content'] != 'undefined') { %>
			<div class="content">
				<% for (var i = 0; i < data.fragments['project.content'].value.length; i++) { %>
					<p><%- data.fragments['project.content'].value[i].text %></p>
				<% } %>
			</div>
		<% } %>

		<% if (typeof data.fragments['project.attachments'] != 'undefined') { %>
			<ul class="attachments">
				<% for (var i = 0; i < data.fragments['project.attachments'].value.length; i++) { %>
					<li>
						<a href="<%= data.fragments['project.attachments'].value[i].link.value.file.url %>" target="_blank">
							<% if (typeof data.fragments['project.attachments'].value[i].name.value != "") { %>
								<%= data.fragments['project.attachments'].value[i].name.value %>
							<% } else { %>
								<%= data.fragments['project.attachments'].value[i].link.value.file.name %>
							<% } %>
						</a>
					</li>
				<% } %>
			</ul>
		<% } %>

		<hr>
		<details>
			<summary style="font-family: monospace;">source data</summary>
			<pre><%= JSON.stringify(data, null, 4) %></pre>
		</details>
	</div>
</article>
